/*Background video*/

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}


/* for the navbar */

body {
    background-color: black;
    color: palegoldenrod;
    font-family: 'Poppins', sans-serif;
}
.logo-bar{
    width:100%;
}
.sm-logo{
    border-radius: 5%;
    margin: auto;
    width:50px;
    border: 5px solid darkgray;

  
}
h1{
    text-align: center;
    font-size: 5em;
}

nav{
    display: flex;
    text-align: center;
    line-height: 50px;
    opacity:0.6;
    background-color:blue;
}

a{
    text-decoration: none;
}
a:hover{
    text-shadow:4px 0 4px darkgrey;
}

.flexitem{
    flex: 1 0 0;
    background-color: black;
    color: white;
}

.flexitem:hover{
    background-color:red;
}

.banner{
    display: block;

}


.headshot {
    display: flex;
    width: 50%;
    margin: auto;
    padding: 25px;
    min-width: 500px;
    justify-content: center;

}
    .headshot img {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        border: solid 5px grey;
    }
.headshot p {
    flex: 1 0 0;
    font-size:24px;

}

/* For the gallery */
.gallery {
    display: flex;
     flex-wrap: wrap;
    justify-content: center;
}
h2 {
    font-family: 'Patua One', cursive;
    font-size: 60px;
}
h3 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
   text-align:center;
   color: palegoldenrod;
}


.view {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: black
}
.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-fourth img { 
	transition: all 0.4s ease-in-out 0.2s;
    opacity: 1;
}
.view-fourth .mask { 
	background-color: rgba(0,0,0,0.8);
	opacity: 0;
	transform: scale(0) rotate(-180deg);
	transition: all 0.4s ease-in;
    border-radius: 0;
}
.view-fourth h2{
    opacity: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0 40px;
	transition: all 0.5s ease-in-out;
}
.view-fourth p { 
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.view-fourth a.info { 
    opacity: 0;
	transition: all 0.5s ease-in-out;
} 
.view-fourth:hover .mask { 
	opacity: 1; 
	transform: scale(1) rotate(0deg);
	transition-delay: 0.2s;
}								  
.view-fourth:hover img 	  { 
	transform: scale(0); 
    opacity: 0;
	transition-delay: 0s;
}						
.view-fourth:hover h2,
.view-fourth:hover p,
.view-fourth:hover a.info{
    opacity: 1;
    transition-delay: 0.5s;
}

/* For the progress log */

#logTable{
   width:90%;
   border: 1px solid white;
   margin: auto;
   
}

#logTableDiv {
    display: none;
}

#logTable td {
    border: 1px solid white;
    margin: auto;
    padding: 12px;
}
#logTable td:hover{
    background-color:#333;
}

.contactTable{
    text-align: center;
    width:500px;
    margin:auto;

}

.logo{
    width:250px;
    height:250px;
    border-radius: 15%;
    margin:5px;
}


footer{
    margin-top:150px;
    text-align: right;
}